@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-white: #ffffff;
  --color-black: #000000;
   --color-black01:#333333;
  --color-orange:#FA8B02;
}

::-webkit-scrollbar {
  width: 8px;
}



